<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="YiYuanPath" value="..\..\OMData\Dictionary\WHOLE.dat"/>
    <add key="YiXiangPath" value="..\..\OMData\Dictionary\glossary.dat"/>
    <add key="PosSentimentPath" value="..\..\OMData\Dictionary\PosSentiment.txt"/>
    <add key="NegSentimentPath" value="..\..\OMData\Dictionary\NegSentiment.txt"/>
    <add key="SentimentFolder" value="..\..\OMData\Dictionary\Sentiment\"/>

    <add key="ExportResult" value="..\..\OMData\Export\result.txt"/>

    <add key="RawDataFolder" value="..\..\OMData\RawData\"/>
    <add key="MasterDataFolder" value="..\..\OMData\MasterData\"/>
  </appSettings>
</configuration>